* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

header {
    background-color: yellowgreen;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    color: brown;
    font-size: 30px;
    font-weight: bold;
}

.numberContainer {
    width: 60rem;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.circle {
    margin: 2rem 0 0 0;
    height: 3rem;
    width: 3rem;
    background-color: antiquewhite;
    border-radius: 100%;
    display: grid;
    place-content: center;
    font-size: 20px;
    font-weight: bold;
}